<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
	<title>SeismicJS</title>
	<link rel="stylesheet" href="/stylesheets/db.css">
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
	<h2>Database Results</h2>
	<ul id="name_list">
	<% docs.forEach(function(doc) { %>
	    <li><%= doc.name %></li>
	<% }); %>
	</ul>

	<br />
	<h2>Add Pokemon</h2>
	<input placeholder="Swampert" id="add">
	<button onclick="put_pokemon()">Add</button>

</div>


<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/pokemon_ajax.js"></script>

</body>
</html>
