<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Database Results</h2>
<%= name %> 
<ul>
    <% pokemon.forEach(function(p) { %>
        <li><%= p %></li>
    <% }); %>
</ul>


</div>

</body>
</html>
