<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
	<title>SeismicJS</title>
	<link rel="stylesheet" href="/stylesheets/db.css">
</head>

<body>

<% include ../partials/nav.ejs %>

Flat view of the issues, in some order: alphabetical, last updated, and filtered by tag or text.

<div class="container">
	<
</div>


<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/ajax.js"></script>

</body>
</html>
