<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
	<title>SeismicJS</title>
	<link rel="stylesheet" href="/stylesheets/db.css">
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
	<div id="status"></div>
	<!-- add parent -->
	<div id="parent"></div>
	<!-- edit fields on click -->
	<div id="title"></div>
	<br />
	<div id="description"></div>
	<center>
		<button type="button" id="make-branch">Create a New Leaf</button>
	</center>

</div>


<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/ajax.js"></script>
<script>


	var issueId = "<%= issueId %>";
	var issue = find(issueId);
	var parentIssue = find(issue.parent);

	// color status
	$("#status").text(issue.status);

	if (parentIssue) {
		var parentLink = $('<a>', {class: 'leaf-link', href: '/leaf/' + parentIssue.id});
		parentLink.text(parentIssue.title);
		$("#parent").append(parentLink);
	} else {
		$("#parent").css('display', 'none');
	}
	$("#description").text(issue.description);
	$("#title").text(issue.title);
	// list children
	// go to parent

	$("#make-branch").click(function () {
		location.href = "/branch/" + issueId;
	});
</script>

</body>
</html>
