<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
	<title>SeismicJS</title>
	<link rel="stylesheet" href="/stylesheets/db.css">
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
	<button type="button" id="close-issue" class="white-button">Close Issue</button>
	<button type="button" id="reopen-issue" class="white-button">Reopen Issue</button>
	<input type="text" id="title" placeholder="Text">
	<div id="parent">Nested under </div>
	<div id="children">Nests </div>
	<textarea id="description" placeholder="Describe the issue..." rows="4"></textarea>

	<center>
		<button type="button" id="save-changes">Save Changes</button>
	</center>
	<div style="font-size:28px">Comments</div>
	<center>
		<div class="horizontal-rule"></div>
	</center>
	<textarea id="description" placeholder="Add a comment..." rows="2"></textarea>


	<br />
	<center>
		<button class="major-button" id="make-branch">Branch off this Issue</button>
	</center>

</div>


<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/ajax.js"></script>
<script>
	var issueId = "<%= issueId %>";
</script>
<script src="/javascripts/pages/leaf.js"></script>

</body>
</html>
