<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
	<title>SeismicJS</title>
	<link rel="stylesheet" href="/stylesheets/db.css">
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
	<div id="status"></div>
	<!-- add parent -->
	<div id="parent">Nested under </div>
	<!-- edit fields on click -->
	<input type="text" id="title" placeholder="Text">
	<br />
	<textarea id="description" placeholder="Describe the issue..." rows="4"></textarea>
	<!-- <div id="description"></div> -->
	<center>
		<button type="button" id="save-changes">Save Changes</button>
	</center>
	
	<div style="font-size:28px">Children</div>
	<center>
		<div class="horizontal-rule"></div>
	</center>
	<div id="child-list"></div>
	<br />
	<center>
		<button type="button" id="make-branch">Branch off this Issue</button>
	</center>

</div>


<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/ajax.js"></script>
<script>
	var issueId = "<%= issueId %>";
</script>
<script src="/javascripts/pages/leaf.js"></script>

</body>
</html>
